[Desktop Entry]
Name=Cerebro
Comment=Application Launcher
Exec=/home/berger/linux_desktop_config/scripts/launch_cerebro.sh
Icon=/home/berger/cerebro/build/icon.png
Terminal=false
Type=Application
Categories=Automation
